:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    --black: #0e0d0d;
    --page-bg: #272424;
    --page-alt: #333131;
    --header-bg: #363535;
    --font-color: #f5efef;

    --twitch-purple: #6441a5;

    --lower-shadow: linear-gradient(180deg, var(--header-bg) 0%, var(--header-bg) 85%, var(--page-alt) 100%);
}