:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    --black: #0e0d0d;
    --page-bg: #272424;
    --page-alt: #333131;
    --header-bg: #363535;
    --light-bg: #c2c1c1;
    --font-color: #f5efef;

    --twitch-purple: #6441a5;
    --youtube-red: #ff0000;

    --good: #0585ee;
    --bad: #f04324;

    --lower-shadow: linear-gradient(180deg, var(--header-bg) 0%, var(--header-bg) 85%, var(--page-alt) 100%);
}