# dependencies
node_modules/

# output
lib/
build/
dist/
secrets/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production
secrets.yaml
kube/info.txt

# macOS-specific files
.DS_Store
