.profile-page {
    flex-direction: row;
    padding: 0px;

    nav {
        padding: 8px;
        background-color: #ffffff08;
        min-width: 100px;
        display: flex;
        flex-direction: column;

        & > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
    }

    .content-section {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .profile-section {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .profile-card {
        padding: 8px;
        border-radius: 3px;
        background-color: #ffffff08;
        display: flex;
        flex-direction: column;
        gap: 12px;

        .profile-card-group {
            display: flex;
            flex-direction: column;
            gap: 1px 4px;
        }
    }
}