:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    --page-bg: #272424;
    --page-alt: #333131;
    --header-bg: #363535;
    --font-color: #f5efef;

    --twitch-purple: #6441a5;

    --lower-shadow: linear-gradient(180deg, var(--header-bg) 0%, var(--header-bg) 85%, var(--page-alt) 100%);
}

html {
    font-family: "Segoe UI", system-ui, Roboto, Helvetica, Arial, sans-serif, 
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #2b2929;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--page-bg);
}

* {
    margin: 0px;
    box-sizing: border-box;
    position: relative;
    color: var(--font-color);
}

code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Courier New, monospace;
}

main {
    flex: 1;
    padding: 8px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-form {
    min-width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > .twitch-auth-button {
        width: 100%;
        height: 40px;
        text-decoration: none;
        background-color: var(--twitch-purple);
        border: 2px solid white;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        & > * {
            font-weight: 800;
            color: white;
        }
    }
}


